#yValGeneration { 
    float: right;
    position: fixed; left: 500px; top: 50px;
    padding-left: 500px;
    padding-top: 0px;
    /*width: 150px;*/
}
    /*height: $height; // variable replace with actual position: fixed; // boom background: $yellow; // variable replace with actual }

